<div class="container">
	<div class="row">
		<div class="span12" id="home-local">
			<h2>Escolha o local</h2>
			<ul class="nav nav-pills nav-stacked">
				<li <% if @district == 0 %>class="active"<% end %>><a href="pois?district=0&category=<%= @category %>">PORTUGAL</a></li>
				<% @districts.each do |district| %>
					<li <% if @district == district.id %>class="active"<% end %>>
						<a href="#" onclick="return goto_categoria(<%= district.id %>);"><%= district.name %></a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="span12" id="home-categoria">
			<h2>Escolha a categoria</h2>
			<table class="category-chooser">
				<tr>
					<td>
						<a href="pois?category=0"><%= image_tag "0_top.png" %></a>
						<p>Top</p>
					</td>
					<td>
						<a href="pois?category=1"><%= image_tag "1_restaurantes.png" %></a>
						<p>Restaurantes</p>
					</td>
					<td>
						<a href="pois?category=2"><%= image_tag "2_bares.png" %></a>
						<p>Bares</p>
					</td>
				</tr>
				<tr>
					<td>
						<a href="pois?category=3"><%= image_tag "3_monumentos.png" %></a>
						<p>Monumentos</p>
					</td>
					<td>
						<a href="pois?category=4"><%= image_tag "4_parques.png" %></a>
						<p>Parques</p>
					</td>
					<td>
						<a href="pois?category=5"><%= image_tag "5_cultura.png" %></a>
						<p>Cultura</p>
					</td>
				</tr>
				<tr>
					<td>
						<a href="pois?category=6"><%= image_tag "6_praias.png" %></a>
						<p>Praias</p>
					</td>
					<td>
						<a href="pois?category=7"><%= image_tag "7_lazer.png" %></a>
						<p>Lazer</p>
					</td>
					<td>
						<a href="pois?category=8"><%= image_tag "8_todos.png" %></a>
						<p>Todos...</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script>
	$('#home-categoria').hide();
	function goto_categoria(id_cidade) {
		$('#home-categoria a').each(function() {
			var new_url = this.href + '&district=' + id_cidade;
			this.href = new_url;
		});
		$('#home-local').hide();
		$('#home-categoria').show();
		local = id_cidade;
		return true;
	}
</script>