
<% @pois_thumbs = [ [], [], [], [] ] %>
<% @i = 0 %>
<% @pois.each do |poi| %>
	<% @pois_thumbs[@i] << poi %>
	<% @i = (@i + 1) % 4 %>
<% end %>

<div class="container" id="c_poi" style="display: none">
	<span id="pos_y" style="display: none"></span>
	<a onclick="hide_poi(); return false;" style="cursor: pointer">Voltar à lista</a>
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				<li class="thumbnail span12 thumb_poi">
					<div class="row">
						<div class="popup-title span12" style="padding: 10px"><h3></h3></div>
					</div>
					<div class="row">
						<div class="popup-pic span3" style="padding: 10px"></div>
						<div class="popup-text span8" style="padding: 10px"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" id="c_list">
	<div class="row">
		<% @pois_thumbs.each do |col| %>
			<% if col != nil || col.length > 0 %>
				<div class="span3">
					<ul class="thumbnails grid">
						<% col.each do |poi| %>
							<li class="thumbnail span3">
								<a href="#" onclick="show_poi(<%= poi.id %><% begin poi.categoria_lc %>,false<% rescue; end %>); return false;">
									<% if poi.url_imagem  %>
										<% if poi.url_imagem.length > 0 %>
											<img src="<%= poi.url_imagem %>" width="100%" style="max-height: 250px" alt="">
										<% else %>
											<%= image_tag "sem_fotografia.png" %>
										<% end %>
									<% else %>
										<%= image_tag "sem_fotografia.png" %>
									<% end %>
								</a>
								<div class="caption">
									<h4 onclick="show_poi(<%= poi.id %><% begin poi.categoria_lc %>,false<% rescue; end %>); return false;" style="cursor: pointer">
										<%= poi.nome %>
									</h4>
									<p><%= poi.descricao %></p>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>

	<script>
		var map;
		var lat = 0;
		var lng = 0;
		
		function distance( lat1, lng1, lat2, lng2 ) {
		  	var R = 6371; // km
			var dLat = (parseFloat(lat2)-parseFloat(lat1)) * Math.PI / 180;
			var dLon = (parseFloat(lng2)-parseFloat(lng1)) * Math.PI / 180;
			var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
				Math.cos(lat1 * Math.PI / 180 ) * Math.cos(lat2 * Math.PI / 180 ) *
				Math.sin(dLon/2) * Math.sin(dLon/2);
			var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
			var d = R * c;
			if (d>1) return Math.round(d)+"km";
			else if (d<=1) return Math.round(d*1000)+"m";
			return d;
		}
		
		function ver_autocarros(mostrar) {
			map = new GMaps({
					div: '#mapa',
					lat: lat,
					lng: lng
				});
			map.addMarker({
					lat: lat,
					lng: lng
				});
			if (mostrar) {
				map.drawOverlay({
					lat: parseFloat($('#curr_lat').text()),
					lng: parseFloat($('#curr_lng').text()),
					content: '<div class="btn btn-primary overlay">34</div>'
				});
				$("#btn-mostra-autocarros").hide();
				$("#btn-esconde-autocarros").show();
			}
			else {
				$("#btn-esconde-autocarros").hide();
				$("#btn-mostra-autocarros").show();
			}
		}
		
		function checkin(obj, id) {
			obj.next().show();
			obj.hide();
			var jqxhr = $.getJSON("/checkin?id="+id, function() {
				var r = JSON.parse(jqxhr.responseText);
				$('#n_checkins').text(r);
			});
		}
		
		function checkin_lc(obj, id) {
			obj.next().show();
			obj.hide();
			var lat = parseFloat($('#curr_lat').text());
			var lng = parseFloat($('#curr_lng').text());
			var jqxhr = $.getJSON("/checkin_lc?id="+id+"&lat="+lat+"&lng="+lng, function() {
				var r = JSON.parse(jqxhr.responseText);
				show_poi(id, false, true);

				//$('#n_checkins').text(r);
			});
		}
		
		function show_poi(id, internal, is_here) {
			if(typeof(internal)==='undefined') internal = true;
			if(typeof(is_here)==='undefined') is_here = false;
			console.log(internal);
			$('#c_poi .popup-title h3').text('');
			$('#c_poi .popup-pic').text('');
			$('#c_poi .popup-text').text('');
			$('#c_poi .popup-title h3').append('&nbsp;');
			var pos_y = $(document).scrollTop();
			$('#c_list').hide();
			$('#c_poi').show();
			
			var query = "/pois/"+id+".json";
			if (!internal) query = "/pois_lc?id="+id
			var jqxhr = $.getJSON(query, function() {
				var r = JSON.parse(jqxhr.responseText);
				if(!internal) internal = r.internal;
				var nome = r.local.nome;
				if (!nome) nome = r.local.nome_lc;
				$('#c_poi .popup-title h3').append(nome);
				
				// Esquerda
				if (internal) $('#c_poi .popup-pic').append("<p><span class=\"label label-success\">"+r.type+"</span></p>");
				if (r.local.url_imagem) $('#c_poi .popup-pic').append("<p><img src='"+r.local.url_imagem+"' width='95%' /></p>");
				else $('#c_poi .popup-pic').append("<p><img src='/assets/sem_fotografia.png' width='95%' /></p>");
				if (internal && $('#curr_lat').text().length > 0) {
					if(is_here==false)
						$('#c_poi .popup-pic').append('<p style="padding: 10px 0 10px 0; text-align: center"><a class="btn btn-large" onclick="return checkin($(this), '+r.local.id+');"><i class="icon-map-marker"></i> Estou aqui</a><a style="display: none" class="btn btn-large btn-success disabled"><i class="icon-ok"></i> Estou aqui</a></p>');
					else
						$('#c_poi .popup-pic').append('<p style="padding: 10px 0 10px 0; text-align: center"><a class="btn btn-large btn-success disabled"><i class="icon-ok"></i> Estou aqui</a></p>');
					$('#c_poi .popup-pic').append('<p id="n_checkins">'+r.checkins+'</p><hr />');
				}
				else if ($('#curr_lat').text().length > 0) {
					$('#c_poi .popup-pic').append('<p style="padding: 10px 0 10px 0; text-align: center"><a class="btn btn-large" onclick="return checkin_lc($(this), '+r.local.id+');"><i class="icon-map-marker"></i> Estou aqui</a><a style="display: none" class="btn btn-large btn-success disabled"><i class="icon-ok"></i> Estou aqui</a></p>');
					$('#c_poi .popup-pic').append('<p id="n_checkins">Ainda ninguém esteve aqui</p><hr />');
				}
				if(r.local.website) $('#c_poi .popup-pic').append('<p><a target="_blank" href="'+r.local.website+'">Website</a></p>');
				if(r.local.telefone) $('#c_poi .popup-pic').append('<p>'+r.local.telefone+'</p>');
				
				// Direita
				// Mapa
				if (internal) {
					lat = r.local.lat;
					lng = r.local.lng;
					var localizacao = "";
					localizacao += "<div id='mapa'></div>"
					localizacao += "<p>Marque no seu GPS:</p><p><b>Latitude:</b> "+lat+"<br /><b>Longitude:</b> "+lng+"</p>";
					if ($('#curr_lat').text().length > 0) localizacao += "<p>O utilizador encontra-se a aproximadamente "+distance($('#curr_lat').text(), $('#curr_lng').text(), lat, lng)+" deste local</p>";
					//localizacao += '<a id="btn-mostra-autocarros" class="btn" onclick="return ver_autocarros(true);">Ver autocarros perto</a>';
					//localizacao += '<a id="btn-esconde-autocarros" style="display: none" class="btn btn-primary" onclick="return ver_autocarros(false);">Esconder autocarros</a>';
					localizacao += "<hr />";
					$('#c_poi .popup-text').append(localizacao);
					map = new GMaps({
						div: '#mapa',
						lat: lat,
						lng: lng
					});
					$("#mapa").css("width", "100%").css("height", 250);
					google.maps.event.trigger(mapa, 'resize');
					map = new GMaps({
						div: '#mapa',
						lat: lat,
						lng: lng
					}).addMarker({
						lat: lat,
						lng: lng
					});
				}
				
				// Metadata
				var descricao = r.local.descricao
				if (!descricao) descricao = r.local.descricao_lc
				var tipo_restaurante = r.local.tipo_restaurante
				if (!tipo_restaurante) tipo_restaurante = r.local.tipo_restaurante_lc
				var tipo_musica = r.local.tipo_musica
				if (!tipo_musica) tipo_musica = r.local.tipo_musica_lc
				var especialidades = r.local.especialidades
				if (!especialidades) especialidades = r.local.especialidades_lc
				var servicos_cultura = r.local.servicos_cultura
				if (!servicos_cultura) servicos_cultura = r.local.servicos_cultura_lc
				if(descricao) $('#c_poi .popup-text').append('<p>'+descricao+'</p>');
				if(tipo_restaurante) $('#c_poi .popup-text').append('<p><b>Tipo de restaurante:</b> '+tipo_restaurante+'</p>');
				if(tipo_musica) $('#c_poi .popup-text').append('<p><b>Tipo de música:</b> '+tipo_musica+'</p>');
				if(especialidades) $('#c_poi .popup-text').append('<p><b>Especialidades:</b> '+especialidades+'</p>');
				if(r.local.preco_medio) $('#c_poi .popup-text').append('<p><b>Preço médio:</b> '+r.local.preco_medio+'</p>');
				if(r.local.lotacao) $('#c_poi .popup-text').append('<p><b>Lotação:</b> '+r.local.lotacao+'</p>');
				if(r.local.ano_construcao) $('#c_poi .popup-text').append('<p><b>Data de construção:</b> '+r.local.ano_construcao+'</p>');
				if(servicos_cultura) $('#c_poi .popup-text').append('<p><b>Serviços disponíveis:</b> '+servicos_cultura+'</p>');
				if(r.local.horario) $('#c_poi .popup-text').append('<p><b>Horário de funcionamento:</b> '+r.local.horario+'</p>');
				if (internal) {
					if (r.servicos.length > 0) {
						var informacoes = "<p>Serviços disponíveis:</p><ul>";
						for (var i in r.servicos) {
							informacoes += "<li>"+r.servicos[i].nome+"</li>";
						}
						informacoes += "</ul>"
						$('#c_poi .popup-text').append(informacoes);
					}
				}
				
				// Sugestões
				if (internal) {
					var jqxhr2 = $.getJSON("/suggestions?id="+id, function() {
						var s = JSON.parse(jqxhr2.responseText);
						if (s.perto.length > 0) {
							var sugestoes = '<hr /><div class="span4" style="margin-left: 0"><h3>A visitar por perto:</h3><ul style="list-style: none">';
							for (var i in s.perto) {
								sugestoes += "<li><a style='cursor: pointer' onclick='show_poi("+s.perto[i].id+"); return false;'>"+s.perto[i].nome+"</a>";
								sugestoes += "<span style='font-size: 90%; color: #444'> a "+distance(s.perto[i].lat, s.perto[i].lng, lat, lng)+"</span></li>";
							}
							sugestoes += "</ul></div>";
							if (s.mesma.length > 0) {
								sugestoes += '<div class="span4"><h3>'+s.categoria+':</h3><ul style="list-style: none">';
								for (var j in s.mesma) {
									sugestoes += "<li><a style='cursor: pointer' onclick='show_poi("+s.mesma[j].id+"); return false;'>"+s.mesma[j].nome+"</a></li>";
								}
								sugestoes += "</ul></div>";
							}
							$('#c_poi .popup-text').append(sugestoes);
						}
					});
				}
			});
			
			$('#pos_y').text(pos_y);
			$(document).scrollTop(0);
		}
		
		function hide_poi() {
		var pos_y = parseInt($('#pos_y').text());
			$('#c_poi').hide();
			$('#c_poi .popup-title h3').text('');
			$('#c_poi .popup-pic').text('');
			$('#c_poi .popup-text').text('');
			$('#c_list').show();
			$(document).scrollTop(pos_y);
		}
	</script>
</div>
