
<% @pois_thumbs = [ [], [], [], [] ] %>
<% @i = 0 %>
<% @pois.each do |poi| %>
	<% @pois_thumbs[@i] << poi %>
	<% @i = (@i + 1) % 4 %>
<% end %>

<div class="container">
	<div class="row">
		<% @pois_thumbs.each do |col| %>
			<% if col != nil || col.length > 0 %>
				<div class="span3">
					<ul class="thumbnails">
						<% col.each do |poi| %>
							<li class="thumbnail">
								<a href="#" <% if @category == "Praias" %>onclick="show_modal(<%= poi.id %>); return false;"<% end %>>
									<% if @category == "Praias" and poi.url_imagem %>
										<img src="<%= poi.url_imagem %>" alt="">
									<% else %>
										<img src="http://placehold.it/260x180" alt="">
									<% end %>
								</a>
								<div class="caption">
									<% if @category == "Praias" %>
										<h4><%= poi.nome %></h4>
										<p>Esta praia <%= "não " if not poi.bandeira_azul %>possui bandeira azul.</p>
										<p>Distrito: <%= poi.distrito %></p>
										<p>Município: <%= poi.municipio %></p>
									<% else %>
										<h4><%= poi.name %></h4>
										<p>Este local pertence à categoria <%= poi.categories[0].name %></p>
									<% end %>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="modal hide" id="myModal" style="width: 95%; max-width: 530px; max-height: 80%">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3></h3>
		</div>
		<div class="modal-tabs" style="background: #fafafa">
			<ul class="nav nav-tabs">
				<li id="tab-informacoes"><a style="cursor: pointer" onclick="select_informacoes(); return false;">Informações</a></li>
				<li id="tab-localizacao"><a style="cursor: pointer" onclick="select_localizacao(); return false;">Localização</a></li>
			</ul>
		</div>
		<div class="modal-body" style="overflow: hidden">
			<div id="modal-informacoes"></div>
			<div id="modal-localizacao"></div>
		</div>
		<div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		    <a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<script>
		var map;
		var lat = 0;
		var lng = 0;

		function select_informacoes() {
			$('#modal-informacoes').show();
			$('#modal-localizacao').hide();
			$('#tab-informacoes').attr('class', 'active');
			$('#tab-localizacao').attr('class', '');
		}

		function select_localizacao() {
			$('#modal-informacoes').hide();
			$('#modal-localizacao').show();
			$('#tab-informacoes').attr('class', '');
			$('#tab-localizacao').attr('class', 'active');

			google.maps.event.trigger(mapa, 'resize');
			map = new GMaps({
				div: '#mapa',
				lat: lat,
				lng: lng
			}).addMarker({
				lat: lat,
				lng: lng
			});
		}

		function show_modal(id) {
			$('#myModal h3').text('');
			$('#myModal h3').append('&nbsp;');
			$('#modal-informacoes').text('');
			$('#modal-informacoes').append('<p align="center" style="margin-top: 20px"><img src="http://www.animale.com.br/wp-content/themes/animale2013/images/loading.gif" width="20"></p>');
			$('#modal-localizacao').text('');
			select_informacoes();
			$('#myModal').modal('show');
			var jqxhr = $.getJSON("/pois/"+id+".json", function() {
				var r = JSON.parse(jqxhr.responseText);
				$('#myModal h3').text(r.local.nome);

				// Informacoes
				var informacoes = "";
				if (r.local.url_imagem) informacoes += "<p><img src='"+r.local.url_imagem+"'></p>";
				if (r.local.bandeira_azul) informacoes += "<p>Esta praia tem bandeira azul.</p>";
				else informacoes += "<p>Esta praia não tem bandeira azul.</p>";
				if (r.servicos.length > 0) {
					informacoes += "<p>Serviços disponíveis:</p><ul>";
					for (var i in r.servicos) {
						informacoes += "<li>"+r.servicos[i].nome+"</li>";
					}
					informacoes += "</ul>"
				}
				$('#modal-informacoes').text('');
				$('#modal-informacoes').append(informacoes);

				// Localizacao
				var localizacao = "";
				localizacao += "<div id='mapa'></div>"
				localizacao += "<p>Marque no seu GPS:</p><p><b>Latitude:</b> "+r.local.lat+"<br /><b>Longitude:</b> "+r.local.lng+"</p>";
				$('#modal-localizacao').append(localizacao);
				lat = r.local.lat;
				lng = r.local.lng;
				map = new GMaps({
					div: '#mapa',
					lat: lat,
					lng: lng
				});
				$("#mapa").css("width", "100%").css("height", 250);
			})
			.error(function() { console.log(jqxhr); });
		}
	</script>
</div>