<!DOCTYPE html>
<html lang="pt">
<head>
  <title>OND?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Add this to the head of your HTML layout -->
	<link rel="stylesheet" href="http://www.ost.pt/css/apps/assets/bootstrap-v0.6.1.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">

		<div id="search-container">
			<div class="container" style="margin: 0 auto">
				<div class="row">
					<div class="span2 hidden-phone">&nbsp;</div>
					<div class="span8">
						<form class="form-inline" style="margin: 10px 0; text-align: center; padding: 0 5px 0 5px">
							<input name="s" id="s" type="text" placeholder="Search..." class="input-large search-query">
							<button type="submit" class="btn">Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="topbar">
			<ul class="menu" style="float: left">
				<li class="option">
					<a class="option" href="/?district=<%= @district %>&category=<%= @category %>">OND?</a>
				</li>
				<li id="local" class="dropdown option hidden-phone">
					<a href="#" class="dropdown-toggle option" data-toggle="dropdown">
						<%= District.find(@district).name unless @district == 0 %>
						<% if @district == 0 %>PORTUGAL<% end %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="?district=0&category=<%= @category %>">PORTUGAL</a></li>
						<% @districts.each do |district| %>
							<li><a href="?district=<%= district.id %>&category=<%= @category %>"><%= district.name %></a></li>
						<% end %>
					</ul>
				</li>
				<li id="categoria" class="dropdown option hidden-phone">
					<a href="#" class="dropdown-toggle option" data-toggle="dropdown">
						<%= @category %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="?district=<%= @district %>&category=Top">Top</a></li>
						<li><a href="?district=<%= @district %>&category=Restaurantes">Restaurantes</a></li>
						<li><a href="?district=<%= @district %>&category=Bares">Bares</a></li>
						<li><a href="?district=<%= @district %>&category=Monumentos">Monumentos</a></li>
						<li><a href="?district=<%= @district %>&category=Cultura">Cultura</a></li>
						<li><a href="?district=<%= @district %>&category=Praias">Praias</a></li>
					</ul>
				</li>
			</ul>
			<ul class="menu" style="float: right">
				<li id="search" class="option">
					<a class="option" style="cursor: pointer" onclick="$('#search-container').slideToggle();">
						<i class="icon-search icon-white"></i>
					</a>
				</li>
			</ul>
		</div>

	</div>

	<script>
		$('#search-container').hide();
	</script>

	<%= yield %>

	<!-- Adicione ao final da sua página, antes da tag </body>, e substitua <your-app-id> -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
	<script src="http://www.ost.pt/js/apps/app-container.js?pois_enrichment_app_prototype"></script>

	<script src="https://developer.ost.pt/docs/front-end-style-guides/assets/js/bootstrap-modal.js"></script>
	<script src="https://developer.ost.pt/docs/front-end-style-guides/assets/js/bootstrap-dropdown.js"></script>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="https://raw.github.com/HPNeo/gmaps/master/gmaps.js"></script>
</body>
</html>
